@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    color: white;
    overflow: hidden;
    font-family: Ubuntu, sans-serif;
}

main {
    position: fixed;
    top: 0;
    left: 0;

    margin: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

@import 'sass/library';

@media only screen and (max-width: 800px) {
    @import 'sass/now_playing';
}

@media only screen and (min-width: 800px) {
    @import 'sass/library_big';
    @import 'sass/now_playing_big';
}

