@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    color: white;
    overflow: hidden;
    font-family: Ubuntu, sans-serif;
}

@import 'sass/library';
@import 'sass/now_playing';

@media only screen and (min-width: 800px) {
    @import 'sass/library_big';
}

