@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
  color: white;
  overflow: hidden;
  font-family: Ubuntu, sans-serif; }

main {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

main #nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.1em;
  background-image: linear-gradient(180deg, #626055 0%, #42413c 100%); }
  main #nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none; }
    main #nav ul li {
      display: block;
      float: left;
      width: 33.3%;
      height: 100%; }
      main #nav ul li a {
        display: block;
        width: 100%;
        height: 100%;
        color: #EEE;
        text-shadow: 0px 2px 3px #555;
        font-size: 1.5em;
        text-align: center;
        text-decoration: none;
        line-height: 4.1rem; }
      main #nav ul li .active {
        color: white;
        background-image: linear-gradient(180deg, #918f83 0%, #42413c 100%); }
    main #nav ul li + li a {
      border-left: 1px solid #2d2c27; }
main #library {
  position: absolute;
  top: 4.1em;
  left: 0;
  width: 100%;
  height: calc(100% - 4.1em - 5em);
  background-image: url("pics/coverdark.svg");
  background-position: center;
  background-size: cover; }
  main #library ul {
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none; }
    main #library ul li {
      position: relative;
      margin-top: 1em;
      min-height: 4em;
      max-height: 4em;
      padding: 0.5em;
      overflow: hidden;
      background-image: linear-gradient(180deg, rgba(35, 34, 30, 0.6) 0%, rgba(45, 44, 39, 0.6) 40%, rgba(45, 44, 39, 0.6) 60%, rgba(35, 34, 30, 0.6) 100%);
      border-radius: 15px;
      transition: none; }
      main #library ul li a {
        position: relative;
        display: block;
        width: 100%;
        height: 4em;
        z-index: 50;
        color: white; }
      main #library ul li img {
        width: 4em;
        height: 4em;
        border-radius: 10px; }
      main #library ul li span {
        display: block;
        position: absolute;
        left: 0;
        padding-left: 5rem;
        width: 100%;
        font-size: 1em; }
      main #library ul li .name {
        top: 0.5rem;
        font-size: 1.2em; }
      main #library ul li .artist {
        top: 1.9em; }
      main #library ul li .year {
        top: 3.1em; }
      main #library ul li ul {
        overflow: hidden; }
    main #library ul li:target {
      max-height: 350px;
      transition: max-height 1s; }
      main #library ul li:target ul {
        margin: 1em;
        margin-top: 0.5em;
        padding: 1em 0;
        background-color: rgba(15, 14, 11, 0.6);
        border-radius: 20px; }
        main #library ul li:target ul li {
          margin: 0 1em;
          background-image: none;
          border-radius: 0; }
        main #library ul li:target ul li + li {
          border-top: 1px solid #2d2c27; }
  main #library #artists > li > a > .name {
    top: 0;
    height: 4rem;
    line-height: 3.5rem;
    font-size: 1.3em; }
  main #library #albums li:target {
    max-height: 1000px; }
    main #library #albums li:target ul {
      padding: 0.4em 0 0.1em 0; }
      main #library #albums li:target ul li {
        padding: 0;
        height: 3em;
        min-height: 1em; }
        main #library #albums li:target ul li .number {
          margin-top: -7px;
          padding: 0;
          width: 3rem;
          height: 3rem;
          color: rgba(225, 225, 225, 0.69);
          font-size: 3em;
          text-align: right; }
        main #library #albums li:target ul li .name {
          padding-left: 4rem;
          width: calc(100% - 4rem);
          text-overflow: ellipsis;
          white-space: nowrap; }
main #search {
  position: absolute;
  top: 4.1em;
  left: 0;
  width: 100%;
  height: calc(100% - 4.1em - 5em);
  background-image: url("pics/coverdark.svg");
  background-position: center;
  background-size: cover; }
  main #search form {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(180deg, rgba(35, 34, 30, 0.6) 0%, rgba(45, 44, 39, 0.6) 40%, rgba(45, 44, 39, 0.6) 60%, rgba(35, 34, 30, 0.6) 100%); }
    main #search form label {
      display: none; }
    main #search form input {
      padding: 5px;
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 5px;
      font-weight: bold; }
    main #search form input[type=text] {
      width: calc(100% - 95px); }
    main #search form input[type=submit] {
      width: 65px; }
main #search > ul {
  position: absolute;
  top: 3em;
  margin: 0;
  padding-top: 0;
  padding-left: 1em;
  padding-bottom: 1em;
  width: calc(100% - 2em);
  height: calc(100% - 3.5em);
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto; }
  main #search > ul h1 {
    margin-bottom: 0; }
  main #search > ul ul {
    padding: 0;
    overflow: hidden; }
    main #search > ul ul li {
      position: relative;
      margin-top: 1em;
      height: 4em;
      padding: 0.5em;
      background-image: linear-gradient(180deg, rgba(35, 34, 30, 0.6) 0%, rgba(45, 44, 39, 0.6) 40%, rgba(45, 44, 39, 0.6) 60%, rgba(35, 34, 30, 0.6) 100%);
      border-radius: 15px; }
    main #search > ul ul img {
      width: 4em;
      height: 4em;
      border-radius: 10px; }
    main #search > ul ul span {
      display: block;
      position: absolute;
      left: 0;
      padding-left: 5rem;
      width: 100%;
      font-size: 1em; }
    main #search > ul ul .name {
      top: 0.5rem;
      font-size: 1.2em; }
    main #search > ul ul .artist {
      top: 1.9em; }
    main #search > ul ul .album, main #search > ul ul .year {
      top: 3.1em; }
  main #search > ul #artists .name {
    top: 0;
    height: 4em;
    line-height: 3.5em;
    font-size: 1.3em; }

#now_playing {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5em;
  background-image: linear-gradient(180deg, #626055 0%, #42413c 100%); }
  #now_playing a {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    z-index: 10;
    color: transparent; }
  #now_playing img {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    height: 4em;
    border-radius: 10px; }
  #now_playing .title {
    position: absolute;
    top: 0.7rem;
    left: 5rem;
    font-size: 1.3em; }
  #now_playing .artist {
    position: absolute;
    top: 2.5rem;
    left: 5rem;
    font-size: 1.1em; }

#lcontrols #play_button {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 5rem;
  height: 5rem;
  z-index: 20;
  color: transparent;
  background-image: url("pics/playnoring.svg");
  background-size: cover;
  border-left: 1px solid #2d2c27; }
#lcontrols #play_button:hover, #lcontrols #play_button:focus, #lcontrols #play_button:active {
  background-image: url("pics/playglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 31px, transparent 32px); }

#edit_track {
  display: none; }

#play_queue {
  display: none; }

@media only screen and (max-width: 800px) {
  main #info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.1em;
    z-index: 5;
    background-image: linear-gradient(180deg, #626055 0%, #42413c 100%); }
    main #info .title {
      display: block;
      margin-top: 1ex;
      margin-left: 0.6rem;
      height: 24px;
      font-size: 1.3em;
      width: 100%; }
    main #info .artist {
      float: left;
      margin-top: 0.6ex;
      margin-left: 0.6rem;
      font-size: 1.1em; }
    main #info .album:before {
      float: left;
      content: "\2022";
      margin-left: 1ex;
      margin-right: 1ex; }
    main #info .album {
      float: left;
      margin-top: 0.8ex;
      font-size: 1em; }
    main #info a {
      display: block;
      position: absolute;
      top: 0.7em;
      right: 0.7em;
      width: calc(2.6em - 4px);
      height: calc(2.6em - 4px);
      color: transparent;
      background-size: cover;
      border: 2px solid white;
      border-radius: 5px;
      background-image: url("pics/up.svg"); }
    main #info a:hover, main #info a:focus, main #info a:active {
      border-color: #dd4814;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url("pics/upglow.svg"); }
  main #albumart {
    position: absolute;
    top: 4.1em;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 4.1em - 6em);
    background-color: #2d2c27;
    background-image: linear-gradient(180deg, #1d1c1b 0%, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0) 98%, #1d1c1b 100%); }
    main #albumart img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100%; }
  main #controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6em;
    background-image: linear-gradient(180deg, #3c3b37 0%, #42413c 100%); }
    main #controls a {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(3em - 27.5px);
      margin: 0 auto;
      width: 55px;
      height: 55px;
      color: transparent;
      background-size: cover;
      border-radius: 100%; }
    main #controls #prev_button {
      right: 135px;
      background-image: url("pics/prev.svg"); }
    main #controls #prev_button:hover, main #controls #prev_button:focus, main #controls #prev_button:active {
      background-image: url("pics/prevglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 21px, transparent 22px); }
    main #controls #play_button {
      bottom: calc(3em - 37.5px);
      width: 75px;
      height: 75px;
      background-image: url("pics/play.svg"); }
    main #controls #play_button:hover, main #controls #play_button:focus, main #controls #play_button:active {
      background-image: url("pics/playglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 31px, transparent 32px); }
    main #controls #next_button {
      left: 135px;
      background-image: url("pics/next.svg"); }
    main #controls #next_button:hover, main #controls #next_button:focus, main #controls #next_button:active {
      background-image: url("pics/nextglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 21px, transparent 22px); }
    main #controls #queue_button, main #controls #lyrics_button {
      left: 18.5px;
      bottom: calc(3em - 18.5px);
      margin: 0;
      width: 35px;
      height: 35px;
      border: 2px solid white;
      border-radius: 5px;
      background-image: url("pics/queue.svg"); }
    main #controls #lyrics_button {
      left: calc(100% - 55.5px);
      background-image: url("pics/lyrics.svg"); }
    main #controls #queue_button:hover, main #controls #queue_button:focus, main #controls #queue_button:active {
      border-color: #dd4814;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url("pics/queueglow.svg"); }
    main #controls #lyrics_button:hover, main #controls #lyrics_button:focus, main #controls #lyrics_button:active {
      border-color: #dd4814;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url("pics/lyricsglow.svg"); }

  #queue {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    background-image: url("pics/coverdark.svg");
    background-position: center;
    background-size: cover;
    transition: all 1s; }
    #queue ul {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 1em;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      list-style: none; }
      #queue ul li {
        position: relative;
        margin-top: 1em;
        height: 4em;
        padding: 0.5em;
        background-image: linear-gradient(180deg, rgba(35, 34, 30, 0.6) 0%, rgba(45, 44, 39, 0.6) 40%, rgba(45, 44, 39, 0.6) 60%, rgba(35, 34, 30, 0.6) 100%);
        border-radius: 15px; }
        #queue ul li img {
          height: 4em;
          width: 4em;
          border-radius: 10px; }
        #queue ul li span {
          display: block;
          position: absolute;
          left: 0;
          padding-left: 5rem;
          width: 100%;
          font-size: 1em; }
        #queue ul li .name {
          top: 0.5rem;
          font-size: 1.2em; }
        #queue ul li .artist {
          top: 1.9em; }
        #queue ul li .album {
          top: 3.1em; }
      #queue ul .active {
        background-image: linear-gradient(180deg, rgba(35, 34, 30, 0.6) 0%, rgba(45, 44, 39, 0.6) 40%, rgba(45, 44, 39, 0.6) 60%, rgba(35, 34, 30, 0.6) 100%), linear-gradient(130deg, #77216f 10%, transparent 40%, #dd4814 90%); }
    #queue a {
      display: block;
      position: absolute;
      right: 18.5px;
      bottom: calc(3em - 18.5px);
      width: 35px;
      height: 35px;
      color: transparent;
      background-size: cover;
      border: 2px solid #dd4814;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url("pics/close.svg"); }

  #queue:target {
    left: 0; }

  #lyrics {
    position: fixed;
    top: 0;
    left: 100%;
    padding: 0 5%;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    background-image: url("pics/coverdark.svg");
    background-position: center;
    background-size: cover;
    transition: all 1s; }
    #lyrics p {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding-top: 1em;
      padding-bottom: 5em;
      width: 90%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      font-size: 1.2em;
      line-height: 120%;
      text-align: center;
      text-shadow: 0px 0px 2px black; }
    #lyrics a {
      display: block;
      position: absolute;
      left: 18.5px;
      bottom: calc(3em - 18.5px);
      width: 35px;
      height: 35px;
      color: transparent;
      background-size: cover;
      border: 2px solid #dd4814;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url("pics/close.svg"); }

  #lyrics:target {
    left: 0; } }
@media only screen and (min-width: 800px) {
  body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #2d2c27; }

  #lmain {
    top: 15px;
    left: 15px;
    width: 40%;
    height: calc(100% - 30px);
    border: 1px solid black;
    border-radius: 10px; }
    #lmain #library, #lmain #search {
      height: calc(100% - 4.1em); }

  #now_playing {
    left: calc(40% + 30px);
    bottom: 15px;
    width: calc(60% - 45px - 12rem);
    height: 8rem;
    overflow: hidden;
    background: none;
    text-overflow: ellipsis;
    white-space: nowrap; }
    #now_playing a {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 8rem;
      height: 8rem; }
    #now_playing a:hover, #now_playing a:focus {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-top: 2px;
      padding-left: 10px;
      padding-right: 10px;
      overflow: hidden;
      color: white;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      font-size: 1.5rem;
      text-align: center;
      text-decoration: none;
      white-space: pre-wrap; }
    #now_playing img {
      top: auto;
      left: 0;
      bottom: 0;
      height: 8rem; }
    #now_playing .title {
      top: auto;
      left: calc(8rem + 15px);
      bottom: 5rem;
      font-size: 2rem; }
    #now_playing .artist {
      top: auto;
      left: calc(8rem + 15px);
      bottom: 2.8rem;
      font-size: 1.7rem; }

  #lcontrols {
    position: absolute;
    right: 15px;
    bottom: 4rem;
    width: 12rem;
    height: 4rem; }
    #lcontrols a {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(2em - 27.5px);
      margin: 0 auto;
      width: 55px;
      height: 55px;
      color: transparent;
      background-size: cover;
      border-radius: 100%; }
    #lcontrols #prev_button {
      right: 135px;
      background-image: url("pics/prev.svg"); }
    #lcontrols #prev_button:hover, #lcontrols #prev_button:focus, #lcontrols #prev_button:active {
      background-image: url("pics/prevglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 21px, transparent 22px); }
    #lcontrols #play_button {
      position: absolute;
      bottom: calc(2em - 37.5px);
      width: 75px;
      height: 75px;
      background-image: url("pics/play.svg"); }
    #lcontrols #play_button:hover, #lcontrols #play_button:focus, #lcontrols #play_button:active {
      background-image: url("pics/playglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 31px, transparent 32px); }
    #lcontrols #next_button {
      left: 135px;
      background-image: url("pics/next.svg"); }
    #lcontrols #next_button:hover, #lcontrols #next_button:focus, #lcontrols #next_button:active {
      background-image: url("pics/nextglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 21px, transparent 22px); }
    #lcontrols #progressbar {
      position: fixed;
      left: calc(40% + 45px + 8rem);
      bottom: 15px;
      width: calc(60% - 60px - 8rem);
      height: 2rem;
      background-image: url("pics/lines.svg"), linear-gradient(180deg, #42413c 0%, #3c3a30 100%);
      border: 1px solid black;
      border-radius: 10px; }
      #lcontrols #progressbar #handle {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 45%;
        height: 100%;
        border-radius: 10px;
        background-image: linear-gradient(180deg, rgba(145, 37, 137, 0.69) 0%, rgba(135, 34, 127, 0.69) 50%, rgba(105, 33, 97, 0.69) 51%, rgba(119, 33, 111, 0.7) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, transparent 70%); }

  #play_queue {
    display: block;
    position: absolute;
    top: 15px;
    left: calc(40% + 30px);
    width: calc(60% - 45px);
    height: calc(100% - 45px - 8rem);
    overflow: auto;
    border: 1px solid black;
    border-radius: 10px; }
    #play_queue table {
      width: 100%;
      border-collapse: collapse; }
      #play_queue table thead tr:first-child {
        background-color: #913c14; }
      #play_queue table tr:nth-child(even) {
        background-color: #626055; }
      #play_queue table tr:nth-child(odd) {
        background-color: #42413c; }
      #play_queue table td, #play_queue table th {
        padding: 10px 5px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap; }
      #play_queue table td:first-child, #play_queue table th:first-child {
        padding-left: 1px;
        padding-right: 8px;
        text-align: right; }
      #play_queue table .active {
        background-image: linear-gradient(180deg, transparent 0%, rgba(119, 33, 111, 0.7) 30%, #77216f 50%, rgba(119, 33, 111, 0.7) 70%, transparent 100%); }
        #play_queue table .active td:first-child {
          background-image: linear-gradient(90deg, #dd4814 0%, rgba(221, 72, 20, 0.4) 30%, transparent 100%); }

  #info {
    position: absolute;
    left: calc(30px + 14rem);
    bottom: calc(35px + 4rem);
    height: 8rem;
    background: none; }
    #info a {
      display: none; }
    #info span {
      display: block;
      margin: 0; }
    #info .title {
      font-size: 3rem; }
    #info .artist {
      font-size: 2.3rem; }
    #info .album {
      font-size: 2rem; }

  #albumart {
    position: absolute;
    left: 15px;
    bottom: 15px;
    margin: 0 auto;
    width: 14rem;
    height: 14rem;
    background: none; }
    #albumart img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100%; }

  #controls {
    position: absolute;
    left: calc(80px + 14rem);
    bottom: 20px;
    width: 12rem;
    height: 4rem; }
    #controls a {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(2em - 27.5px);
      margin: 0 auto;
      width: 55px;
      height: 55px;
      color: transparent;
      background-size: cover;
      border-radius: 100%; }
    #controls #prev_button {
      right: 135px;
      background-image: url("pics/prev.svg"); }
    #controls #prev_button:hover, #controls #prev_button:focus, #controls #prev_button:active {
      background-image: url("pics/prevglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 21px, transparent 22px); }
    #controls #play_button {
      position: absolute;
      bottom: calc(2em - 37.5px);
      width: 75px;
      height: 75px;
      background-image: url("pics/play.svg"); }
    #controls #play_button:hover, #controls #play_button:focus, #controls #play_button:active {
      background-image: url("pics/playglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 31px, transparent 32px); }
    #controls #next_button {
      left: 135px;
      background-image: url("pics/next.svg"); }
    #controls #next_button:hover, #controls #next_button:focus, #controls #next_button:active {
      background-image: url("pics/nextglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 21px, transparent 22px); }
    #controls #queue_button {
      position: fixed;
      left: calc(30px + 14rem);
      bottom: 33px;
      margin: 0;
      width: 35px;
      height: 35px;
      border: 2px solid white;
      border-radius: 5px;
      background-image: url("pics/queue.svg"); }
    #controls #queue_button:hover, #controls #queue_button:focus, #controls #queue_button:active {
      border-color: #dd4814;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url("pics/queueglow.svg"); }
    #controls #lyrics_button {
      display: none; }

  #lyrics {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 400px;
    height: calc(100% - 30px);
    background: none;
    transition: none; }
    #lyrics a {
      display: none; }
    #lyrics p {
      margin: 0;
      height: 100%;
      overflow: auto;
      text-align: center; }

  #queue {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    background-image: url("pics/coverdark.svg");
    background-position: center;
    background-size: cover;
    transition: all 1s; }
    #queue ul {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 1em;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      list-style: none; }
      #queue ul li {
        position: relative;
        margin-top: 1em;
        height: 4em;
        padding: 0.5em;
        background-image: linear-gradient(180deg, rgba(35, 34, 30, 0.6) 0%, rgba(45, 44, 39, 0.6) 40%, rgba(45, 44, 39, 0.6) 60%, rgba(35, 34, 30, 0.6) 100%);
        border-radius: 15px; }
        #queue ul li img {
          height: 4em;
          width: 4em;
          border-radius: 10px; }
        #queue ul li span {
          display: block;
          position: absolute;
          left: 0;
          padding-left: 5rem;
          width: 100%;
          font-size: 1em; }
        #queue ul li .name {
          top: 0.5rem;
          font-size: 1.2em; }
        #queue ul li .artist {
          top: 1.9em; }
        #queue ul li .album {
          top: 3.1em; }
      #queue ul .active {
        background-image: linear-gradient(180deg, rgba(35, 34, 30, 0.6) 0%, rgba(45, 44, 39, 0.6) 40%, rgba(45, 44, 39, 0.6) 60%, rgba(35, 34, 30, 0.6) 100%), linear-gradient(130deg, #77216f 10%, transparent 40%, #dd4814 90%); }
    #queue a {
      display: block;
      position: absolute;
      right: 18.5px;
      bottom: calc(3em - 18.5px);
      width: 35px;
      height: 35px;
      color: transparent;
      background-size: cover;
      border: 2px solid #dd4814;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url("pics/close.svg"); }

  #queue:target {
    left: 0; }

  @-webkit-keyframes slideshow {
    0% {
      opacity: 0; }

    20% {
      opacity: 1; }

    33% {
      opacity: 1; }

    43% {
      opacity: 0; }

    100% {
      opacity: 0; } }

  @keyframes slideshow {
    0% {
      opacity: 0; }

    20% {
      opacity: 1; }

    33% {
      opacity: 1; }

    43% {
      opacity: 0; }

    100% {
      opacity: 0; } }

  #pics {
    position: absolute;
    top: 15px;
    left: 15px;
    width: calc(100% - 445px);
    height: calc(100% - 45px - 14rem);
    overflow-x: auto;
    overflow-y: hidden; }
    #pics div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      -webkit-animation: slideshow 21s linear 0s infinite;
      animation: slideshow 21s linear 0s infinite; }
    #pics #p1 {
      background-image: url("../pics/Flyleaf1.jpg"); }
    #pics #p2 {
      background-image: url("../pics/Flyleaf2.jpg");
      opacity: 0;
      -webkit-animation-delay: 7s;
      animation-delay: 7s; }
    #pics #p3 {
      background-image: url("../pics/Flyleaf3.jpg");
      opacity: 0;
      -webkit-animation-delay: 14s;
      animation-delay: 14s; } }
@media only screen and (min-width: 800px) and (min-width: 1000px) {
  #lmain {
    width: 400px; }

  #now_playing {
    left: 430px;
    width: calc(60% - 45px - 12rem); }

  #lcontrols #progressbar {
    left: calc(445px + 8rem);
    width: calc(100% - 460px - 8rem); }

  #play_queue {
    left: 430px;
    width: calc(100% - 445px); } }
