body {
    display : flex;

    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    background-color: #2d2c27;
}

main {
    top: 15px;
    left: 15px;

    width: 320px;
    height: calc(100% - 30px);

    border: 1px solid black;
    border-radius: 10px;

    #library, #search {
        height: calc(100% - 4.1em);
    }
}

#now_playing {
    //margin-top: calc(100% - 8rem - 20px);
    left: 350px;
    bottom: 15px;

    width: calc(100% - 365px - 12rem);
    height: 8rem;

    overflow: hidden;

    background: none;

    text-overflow: ellipsis;
    white-space: nowrap;

    a {
        position: absolute;
        left: 0;
        bottom: 0;

        width: 8rem;
        height: 8rem;
    }

    img {
        top: auto;
        left: 0;
        bottom: 0;

        height: 8rem;
    }

    .title {
        top: auto;
        left: calc(8rem + 15px);
        bottom: 5rem;

        font-size: 2rem;
    }

    .artist {
        top: auto;
        left: calc(8rem + 15px);
        bottom: 2.8rem;

        font-size: 1.7rem;
    }
}

#controls {
    position: absolute;
    right: 15px;
    bottom: 4rem;

    width: 12rem;
    height: 4rem;

    a {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(2em - 27.5px);
        margin: 0 auto;

        width: 55px;
        height: 55px;

        color: transparent;
        background-size: cover;
        border-radius: 100%;
    }

    #prev_button {
        right: 135px;
        background-image: url("pics/prev.svg");
    }

    #prev_button:hover, #prev_button:focus, #prev_button:active {
        background-image: url("pics/prevglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 21px, transparent 22px);
    }

    #play_button {
        bottom: calc(2em - 37.5px);

        width: 75px;
        height: 75px;

        background-image: url("pics/play.svg");
    }

    #play_button:hover, #play_button:focus, #play_button:active {
        background-image: url("pics/playglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 31px, transparent 32px);
    }

    #next_button {
        left: 135px;
        background-image: url("pics/next.svg");
    }

    #next_button:hover, #next_button:focus, #next_button:active {
        background-image: url("pics/nextglow.svg"), radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5) 21px, transparent 22px);
    }

    #progressbar {
        position: fixed;
        left: calc(365px + 8rem);
        bottom: 15px;

        width: calc(100% - 380px - 8rem);
        height: 2rem;

        background-image: url("pics/lines.svg"), linear-gradient(180deg, #42413c 0%, #3c3a30 100%);
        border: 1px solid black;
        border-radius: 10px;

        #handle {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;

            width: 45%;
            height: 100%;

            border-radius: 10px;
            background-image: linear-gradient(180deg,
                    rgba(145, 37, 137, 0.69) 0%,
                    rgba(135, 34, 127, 0.69) 50%,
                    rgba(105, 33, 97, 0.69) 51%,
                    rgba(119, 33, 111, 0.7) 100%),
            linear-gradient(90deg,
                    rgba(0, 0, 0, 0.6) 0%,
                    transparent 70%);
        }
    }
}

#play_queue {
    display: block;
    position: absolute;
    top: 15px;
    left: 350px;

    width: calc(100% - 365px);
    height: calc(100% - 45px - 8rem);

    overflow: auto;

    border: 1px solid black;
    border-radius: 10px;

    table {
        width: 100%;
        border-collapse: collapse;

        thead tr:first-child {
            background-color: #913c14;
        }

        tr:nth-child(even) {
            background-color: #626055;
        }

        tr:nth-child(odd) {
            background-color: #42413c;

        }

        td, th {
            padding: 10px 5px;

            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        td:first-child, th:first-child {
            padding-left: 1px;
            padding-right: 8px;
            text-align: right;
        }

        .active {
            background-image: linear-gradient(180deg,
                transparent 0%,
                rgba(119, 33, 111, 0.7) 30%,
                #77216F 50%,
                rgba(119, 33, 111, 0.7) 70%,
                transparent 100%);

            td:first-child {
                background-image: linear-gradient(90deg,
                    rgba(221, 72, 20, 1) 0%,
                    rgba(221, 72, 20, 0.4) 30%,
                    transparent 100%);
            }
        }
    }
}