main {
    position: fixed;
    top: 0;
    left: 0;

    margin: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    #info {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 4.1em;

        background-image: linear-gradient(180deg, #626055 0%, #42413c 100%);

        .title {
            display: block;
            margin-top: 1ex;
            margin-left: 0.6rem;
            font-size: 1.3em;
            width: 100%;
        }

        .artist {
            float: left;
            margin-top: 0.6ex;
            margin-left: 0.6rem;

            font-size: 1.1em;
        }

        .album:before {
            float: left;
            content: "\2022";
            margin-left: 1ex;
            margin-right: 1ex;
        }

        .album {
            float: left;
            margin-top: 0.8ex;

            font-size: 1em;
        }

        a {
            display: block;
            position: absolute;
            top: 0.7em;
            right: 0.7em;

            width: calc(2.6em - 4px);
            height: calc(2.6em - 4px);

            color: transparent;
            background-size: cover;

            border: 2px solid white;
            border-radius: 5px;
            background-image: url("pics/up.svg");
        }
    }

    #albumart {
        position: absolute;
        top: 4.1em;
        left: 0;

        margin: 0 auto;

        width: 100%;
        height: calc(100% - 4.1em - 6em);

        background-color: #2d2c27;
        background-image: linear-gradient(180deg,
            #1d1c1b 0%,
            rgba(0, 0, 0, 0) 2%,
            rgba(0, 0, 0, 0) 98%,
            #1d1c1b 100%);

        img {
            position: absolute;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            margin: auto;
            width: 100%;
        }
    }

    #controls {
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 6em;

        background-image: linear-gradient(180deg, #3c3b37 0%, #42413c 100%);

        a {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: calc(3em - 27.5px);
            margin: 0 auto;

            width: 55px;
            height: 55px;

            color: transparent;
            background-size: cover;
        }

        #prev_button {
            right: 135px;
            background-image: url("pics/prev.svg");
        }

        #play_button {
            bottom: calc(3em - 37.5px);

            width: 75px;
            height: 75px;

            background-image: url("pics/play.svg");
        }
        #next_button {
            left: 135px;
            background-image: url("pics/next.svg");
        }

        #queue_button, #lyrics_button {
            left: 18.5px;
            bottom: calc(3em - 18.5px);
            margin: 0;

            width: 35px;
            height: 35px;

            border: 2px solid white;
            border-radius: 5px;
            background-image: url("pics/queue.svg");
        }

        #lyrics_button {
            left: calc(100% - 55.5px);
            background-image: url("pics/lyrics.svg");
        }
    }
}

#lyrics {
    position: fixed;
    top: 0;
    left: 100%;
    padding: 0 5%;

    width: 100%;
    height: 100%;

    overflow: hidden;

    background-image: url("pics/coverdark.svg");
    background-position: center;
    background-size: cover;

    transition: all 1s;

    p {
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        margin: 0;
        padding-top: 1em;
        padding-bottom: 5em;

        width: 90%;
        height: 100%;

        overflow-x: hidden;
        overflow-y: auto;

        font-size: 1.2em;
        line-height: 120%;
        text-align: center;
        text-shadow: 0px 0px 2px black;
    }

    a {
        display: block;
        position: absolute;
        left: 18.5px;
        bottom: calc(3em - 18.5px);

        width: 35px;
        height: 35px;

        color: transparent;
        background-size: cover;

        border: 2px solid #dd4814;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url("pics/close.svg");
    }
}

#lyrics:target {
    left: 0;
}