main {
    position: fixed;
    top: 0;
    left: 0;

    margin: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    #info {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 4.1em;

        background-image: linear-gradient(180deg, #626055 0%, #42413c 100%);

        .title {
            display: block;
            margin-top: 1ex;
            margin-left: 0.6rem;
            font-size: 1.3em;
            width: 100%;
        }

        .artist {
            float: left;
            margin-top: 0.6ex;
            margin-left: 0.6rem;

            font-size: 1.1em;
        }

        .album:before {
            float: left;
            content: "\2022";
            margin-left: 1ex;
            margin-right: 1ex;
        }

        .album {
            float: left;
            margin-top: 0.8ex;

            font-size: 1em;
        }

        a {
            display: block;
            position: absolute;
            top: 0.7em;
            right: 0.7em;

            width: calc(2.6em - 4px);
            height: calc(2.6em - 4px);

            color: transparent;
            background-size: cover;

            border: 2px solid white;
            border-radius: 5px;
            background-image: url("pics/up.svg");
        }
    }

    #controls {
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 6em;

        background-image: linear-gradient(180deg, #3c3b37 0%, #42413c 100%);

        #queue_button, #lyrics_button {
            display: block;
            position: absolute;
            left: 18.5px;
            bottom: calc(3em - 18.5px);
            margin: 0;

            width: 35px;
            height: 35px;

            color: transparent;

            border: 2px solid white;
            border-radius: 5px;
            background-image: url("pics/queue.svg");
            background-size: cover;
        }

        #lyrics_button {
            left: calc(100% - 55.5px);
            background-image: url("pics/lyrics.svg");
        }
    }
}